In [1]:
import numpy as np
import numpy.core.multiarray
from scipy import misc
from matplotlib import pylab as plt
#import matplotlib.cm as cm
import pandas as pd
from datetime import datetime, date

In [2]:
df_original = pd.read_csv('202207-citbike-tripdata.csv')

C:\Users\14850\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df = df_original.copy()

In [4]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C09E4093905089BD,classic_bike,2022-07-23 11:34:57,2022-07-23 11:45:08,Melrose St & Broadway,4801.04,Myrtle Ave & Grove St,4816.05,40.697481,-73.935877,40.699050,-73.915160,member
1,374630DB5822C392,electric_bike,2022-07-29 18:19:08,2022-07-29 18:26:50,E 68 St & 3 Ave,6896.16,E 85 St & York Ave,7146.04,40.767128,-73.962246,40.775369,-73.948034,member
2,4F73CA25880A1215,electric_bike,2022-07-16 16:30:58,2022-07-16 17:39:18,W 37 St & 10 Ave,6611.02,Knickerbocker Ave & Cooper St,4582.05,40.756604,-73.997901,40.690810,-73.904480,member
3,ECD6EE19C0CC1D31,electric_bike,2022-07-17 17:35:57,2022-07-17 18:03:36,W 37 St & 10 Ave,6611.02,6 Ave & Broome St,5610.09,40.756604,-73.997901,40.724310,-74.004730,member
4,44D0987673B9997D,classic_bike,2022-07-11 07:56:29,2022-07-11 07:59:15,E 68 St & 3 Ave,6896.16,E 66 St & Madison Ave,6969.08,40.767128,-73.962246,40.768009,-73.968453,member

### Warm-up

#### 1. Using the start time and end time, compute the duration of each ride in minutes and plot the histogram of ride durations.

In [ ]:
df = df_original.copy()
df['duration'] = (pd.to_datetime(df['ended_at']) - pd.to_datetime(df['started_at'])).apply(lambda x: x.value) / 10**9
df = df[(df['duration'] > 0) & (df['duration'] < 3600*3)]
#print(df['duration'])

In [ ]:
# durations = []
# format_data = "%Y-%m-%d %H:%M:%S"
# for index, row in df.iterrows():
#     duration = (datetime.strptime(df.iloc[index,3], format_data) - datetime.strptime(df.iloc[index,2], format_data)).total_seconds()
#     if duration > 3600 * 3 or duration < 0:
#         df.drop(index, inplace=True)
#     else:
#         durations.append(duration)
#     if index % 10000 == 0:
#         print('Working on', index)
plt.hist(df['duration'])